* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #ffffff75;
  /* fallback for old browsers */

}

.container {
  width: 200px;
  height: 400px;
  position: fixed;
  bottom: 15vh;
  left: 60vh;
}

h1 {
  color: rgb(104, 114, 95);
  font-family: 'Italiana', serif;
  font-size: 100px;
  font-weight: 900;
  height: auto;
  width: 50vw;
  opacity: 0.4;
}

.span {
  margin-left: 80px;
}

.lamp-icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background: #e0e0e0;

}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}